@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');

* {
    margin: 0;
    padding: 0;
    min-width: 0;
}

@layer base {
    html {
        font-family: "Poppins", system-ui, sans-serif;
        font-weight: 500;
        color: rgb(56, 14, 94)
    }
}
.farsan-regular,
i {
    font-family: "Farsan", cursive, sans-serif; /* Add fallback fonts here */
    font-weight: 400;
    font-style: normal;
}
  
.button-primary {
    @apply px-3 py-1 bg-purple-400 text-white rounded-full hover:brightness-110
}

.button-secondary {
    @apply px-10 py-2 border-2 border-purple-400 text-purple-400 rounded-full hover:brightness-110 focus:bg-purple-400 focus:text-white hover:bg-purple-400 hover:text-white
}

.slideInDown {
    animation: 1s ease-out 0s 1 slideInDown;
}

@keyframes slideInDown {
    0% {
      opacity: .2;
      transform: translateY(-20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.aurora {
    background-color: #fff;
    background-image: 
    radial-gradient(at top left, #F0ACE0, transparent),
    radial-gradient(at top right, #FFA4B2, transparent),
    radial-gradient(at bottom left, #A7D3F2, transparent);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}