---
import Carousel from './../../components/Carousel.astro'
import DogLayout from './../../layouts/DogLayoutEn.astro'

const images = [
	'./../../images/bizzete_nasi_psi_01.jpg',
	'./../../images/bizzete_nasi_psi_02.jpg',
	'./../../images/bizzete_nasi_psi_03.jpg',
	'./../../images/bizzete_nasi_psi_04.jpg',
	'./../../images/bizzete_nasi_psi_05.jpg',
	'./../../images/bizzete_nasi_psi_06.jpg'
]
---

<DogLayout title="Bizzete">
	<div
		slot="dog_info"
		class="flex flex-col lg:justify-center lg:items-end items-center lg:gap-2 gap-2 lg:w-1/4 w-full"
	>
		<p>Bizzete Charlie</p>
		<p>Date of Birth: 13.10.2020</p>
		<p>Height: 63cm</p>
		<p>Weight: 37kg</p>
		<p>Full dentition with scissor bite</p>
		<p>Wheat colour</p>
		<p>HD: 0/0</p>
		<p>ED: 0/0</p>
		<p>OCD: OCD - negative</p>
		<p>SA - negative</p>
		<p>Ridge gene - R/R</p>
		<p>DM: M/N</p>
		<p>JME: N/n</p>
		<p>D-locus: D/D</p>
		<p>B-locus: B/b</p>
		<p>Haemophilia: A/B - clear</p>
		<p>The dog assessment took place in 16.06.2023 - Elite class</p>
	</div>
	<div slot="carousel" class="lg:w-3/4 w-full">
		<Carousel images={images} />
	</div>
	<div
		slot="mother_info"
		class="flex flex-col lg:justify-center lg:gap-4 gap-2 px-4 lg:p-0 whitespace-nowrap"
	>
		<p>Dam: Enny Joy of Ashanti of South Moravia</p>
		<p>Date of Birth: 25.06.2015</p>
		<p>Height: 65cm</p>
		<p>Weight: 38kg</p>
		<p>Full dentition with scissor bite</p>
		<p>Wheat colour</p>
		<p>HD: A/A</p>
		<p>ED: 0/0</p>
		<p>OCD - negative</p>
	</div>
	<img
		slot="mother_image"
		src="./../../images/enny_nasi_psi_01.jpg"
		alt=""
		class="max-w-sm aspect-square object-top object-cover rounded-lg"
	/>
	<div
		slot="father_info"
		class="flex flex-col justify-center lg:gap-4 gap-2 md:items-end px-4 lg:p-0 whitespace-nowrap md:order-1"
	>
		<p>Sire: Bayo Kendi Kaweria (Charlie)</p>
		<a class="underline" target="_blank" href="https://www.kaweria.com/"
			>informations about Charlie you can find here</a
		>
	</div>
	<img
		slot="father_image"
		src="./../../images/kemdi_bizzete_02.jpg"
		class="max-w-sm aspect-square object-top object-cover rounded-lg"
		alt=""
	/>
</DogLayout>

<div class="flex flex-col justify-center items-center py-4">
	<img
		src="./../../images/bizzete_nasi_psi_certifikat.jpg"
		alt=""
		class="rounded-lg object cover w-1/2"
	/>
</div>
