---
import MainLayout from './../../layouts/MainLayoutEn.astro'
import { translations } from '../../locales/translations'

const pseci = [
	{ image: './../../images/enny_nasi_psi_08.jpg', name: 'Enny Joy of Ashanti South Moravia' },
	{ image: './../../images/Rhodenny_amali_card.jpg', name: 'Amali Joy Rhodenny' },
	{ image: './../../images/bizzete_nasi_psi_02.jpg', name: 'Bizzete Charlie Rhodenny' }
]
---

<MainLayout title="Nasi Psi">
	<div class="max-w-screen-2xl grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-auto gap-8 py-8">
		{
			pseci &&
				pseci.map((p) => (
					<div class="w-full max-w-md h-full flex flex-col lg:flex-row shadow-sm items-stretch">
						<div class="flex-1">
							<img
								src={p.image}
								alt=""
								class="aspect-square lg:aspect-[9/16] object-top lg:bg-center object-cover lg:rounded-l-lg"
							/>
						</div>
						<div class="bg-purple-400 w-full h-0.5 lg:h-auto lg:w-0.5" />
						<div class="flex-1 bg-stone-200 lg:rounded-r-lg flex flex-col p-8 justify-between w-full gap-4 lg:gap-0">
							<div class="text-2xl">{p.name}</div>
							<a
								href={`${import.meta.env.BASE_URL}/en/${p.name.split(' ')[0].toLowerCase()}`}
								class="button-primary flex gap-4 justify-center items-center"
							>
								<span>Detail</span>
							</a>
						</div>
					</div>
				))
		}
	</div>
	<div
		class="flex flex-col relative max-w-screen-lg mx-auto lg:flex-row justify-center items-center md:w-full lg:w-1/2"
	>
		<div class="flex 1">
			<img src="./../../images/nasi_psi_all.jpg" alt="" class="rounded-lg" />
		</div>
	</div>
</MainLayout>
