---
import MainLayout from '../layouts/MainLayout.astro'
import Carousel from '../components/Carousel.astro'

const images = [
	'./images/amali_nasi_psi_01.jpg',
	'./images/amali_nasi_psi_02.jpg',
	'./images/amali_nasi_psi_04.jpg',
	'./images/amali_nasi_psi_05.jpg',
	'./images/amali_nasi_psi_06.jpg',
	'./images/amali_nasi_psi_07.jpg',
	'./images/amali_nasi_psi_08.jpg',
	'./images/amali_nasi_psi_09.jpg'
]
---

<MainLayout title="Amali">
	<div class="flex">
		<p>Matka: Enny Joy of Ashanti South Moravia</p>
		<p>Otec: Adhiambo Kaweira</p>
		<p>Datum narození: 26.03.2019</p>
		<p>Výška: 69cm</p>
		<p>Váha: 44kg</p>
		<p>plnochrupý, nůžkový kus</p>
		<p>Pšeničná barva</p>
		<Carousel images={images} />
	</div>
</MainLayout>
