---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Amali">
	<p>Matka: Enny Joy of Ashanti South Moravia</p>
	<p>Otec: Adhiambo Kaweira</p>
	<p>Datum narození: 26.03.2019</p>
	<p>Výška: 69cm</p>
	<p>Váha: 44kg</p>
	<p>plnochrupý, nůžkový kus</p>
	<p>Pšeničná barva</p>
	<img src="./images/amali_nasi_psi_01.jpg" alt="" />
	<img src="./images/amali_nasi_psi_02.jpg" alt="" />
	<img src="./images/amali_nasi_psi_03.jpg" alt="" />
	<img src="./images/amali_nasi_psi_04.jpg" alt="" />
	<img src="./images/amali_nasi_psi_05.jpg" alt="" />
	<img src="./images/amali_nasi_psi_06.jpg" alt="" />
	<img src="./images/amali_nasi_psi_07.jpg" alt="" />
	<img src="./images/amali_nasi_psi_08.jpg" alt="" />
	<img src="./images/amali_nasi_psi_09.jpg" alt="" />
</MainLayout>
