---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Bizette">
	<p>Matka: Enny Joy of Ashanti South Moravia</p>
	<p>Otec: Bayo Kendy Kaveria</p>
	<p>dateofbird: Datum narození: 13.10.2020</p>
	<p>Výška: 63cm</p>
	<p>Váha: 37kg</p>
	<p>plnochrupý, nůžkový kus</p>
	<p>Pšeničná barva</p>
	<p>HD: 0/0</p>
	<p>ED: 0/0</p>
	<p>OCD: OCD - negativní</p>
	<p>SA - negativní</p>
	<p>Ridge gene - R/R</p>
	<p>DM: M/N</p>
	<p>JME: N/n</p>
	<p>D-locus: D/D</p>
	<p>B-locus: B/b</p>
	<p>Hemofilie: A/B - čistá</p>
	<p>Bonitace byla 16.06.2023 - Elitní třída</p>
	<img src="./images/bizzete_nasi_psi_01.jpg" alt="" />
	<img src="./images/bizzete_nasi_psi_02.jpg" alt="" />
	<img src="./images/bizzete_nasi_psi_03.jpg" alt="" />
	<img src="./images/bizzete_nasi_psi_04.jpg" alt="" />
	<img src="./images/bizzete_nasi_psi_05.jpg" alt="" />
	<img src="./images/bizzete_nasi_psi_06.jpg" alt="" />
</MainLayout>
