---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Canisterapie">
	<p>
		Díky canisterapii se můžu podělit o štěstí, radost a rovnováhu, kterou mi Ennča dává s ostatními
		lidmi.
	</p>
	<img src="./images/canisterapie_01.jpg" alt="" />
	<p>
		V hodině canisterapie si s dětmi povídám o všem co se týká chování k zvířatům a péče o ně.
		Mezitím hrajeme hry, děláme třeba závody. A aby byly děti co nejvíce v kontaktu s Ennčou, děti
		dostanou třeba pamlsek a Ennča ho hledá. Je to pro obě strany zábava. Využívám toho co se Ennča
		naučila už ve školce sedni, lehni, odložení, přivolání.
	</p>
	<img src="./images/canisterapie_02.jpg" alt="" />
	<img src="./images/canisterapie_03.jpg" alt="" />
	<img src="./images/canisterapie_04.jpg" alt="" />
	<img src="./images/canisterapie_05.jpg" alt="" />
	<img src="./images/canisterapie_06.jpg" alt="" />
	<img src="./images/canisterapie_07.jpg" alt="" />
</MainLayout>
