---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Dokumenty">
	<div class="flex flex-col justify-center items-center">
		<div class="flex flex-col justify-center items-center lg:flex-row md:gap-4 lg:gap-8 py-4">
			<img src="./images/dokumenty_01.jpg" alt="" class="lg:h-96 w-auto md:h-3/4" />
			<a href="/novinky" class="button-secondary">Stáhnout</a>
		</div>
		<div class="flex flex-col justify-center items-center lg:flex-row md:gap-4 lg:gap-8 py-4">
			<img src="./images/dokumenty_02.jpg" alt="" class="lg:h-96 w-auto md:h-3/4" />
			<a href="/novinky" class="button-secondary">Stáhnout</a>
		</div>
		<div class="flex flex-col justify-center items-center lg:flex-row md:gap-4 lg:gap-8 py-4">
			<img src="./images/dokumenty_03.jpg" alt="" class="lg:h-96 w-auto md:h-3/4" />
			<a href="/novinky" class="button-secondary gap-4">Stáhnout</a>
		</div>
	</div>
</MainLayout>
