---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Enny">
	<p>Matka: Ashanti South Moravia</p>
	<p>Kifahari Kuzaa Eros Dahabu</p>
	<p>Datum narození: 25.06.2015</p>
	<p>Výška: 65cm</p>
	<p>Váha: 38kg</p>
	<p>plnochrupý, nůžkový kus</p>
	<p>Pšeničná barva</p>
	<p>HD: A/A</p>
	<p>ED: 0/0</p>
	<p>OCD - negativní</p>
	<img src="./images/enny_nasi_psi_01.jpg" alt="" />
	<img src="./images/enny_nasi_psi_02.jpg" alt="" />
	<img src="./images/enny_nasi_psi_03.jpg" alt="" />
	<img src="./images/enny_nasi_psi_04.jpg" alt="" />
	<img src="./images/enny_nasi_psi_05.jpg" alt="" />
	<img src="./images/enny_nasi_psi_06.jpg" alt="" />
	<img src="./images/enny_nasi_psi_07.jpg" alt="" />
	<img src="./images/enny_nasi_psi_08.jpg" alt="" />
	<img src="./images/enny_nasi_psi_09.jpg" alt="" />
</MainLayout>
