---
import DogLayout from '../layouts/DogLayout.astro'

import Carousel from '../components/Carousel.astro'

const images = [
	'./images/enny_nasi_psi_01.jpg',
	'./images/enny_nasi_psi_02.jpg',
	'./images/enny_nasi_psi_03.jpg',
	'./images/enny_nasi_psi_04.jpg',
	'./images/enny_nasi_psi_05.jpg',
	'./images/enny_nasi_psi_06.jpg',
	'./images/enny_nasi_psi_07.jpg',
	'./images/enny_nasi_psi_08.jpg',
	'./images/enny_nasi_psi_09.jpg'
]
---

<DogLayout title="Enny">
	<div
		slot="dog_info"
		class="flex flex-col lg:justify-center lg:items-end items-center lg:gap-4 gap-2 lg:w-1/4 w-full"
	>
		<p>Enny Joy of Ashanti of South Moravia</p>
		<p>Datum narození: 25.06.2015</p>
		<p>Výška: 65cm</p>
		<p>Váha: 38kg</p>
		<p>plnochrupý, nůžkový kus</p>
		<p>Pšeničná barva</p>
		<p>HD: A/A</p>
		<p>ED: 0/0</p>
		<p>OCD - negativní</p>
	</div>
	<div slot="carousel" class="lg:w-3/4 w-full">
		<Carousel images={images} />
	</div>
	<div
		slot="mother_info"
		class="flex flex-col lg:justify-center lg:gap-4 gap-2 px-4 lg:p-0 whitespace-nowrap"
	>
		<p>Matka: Ashanti South Moravia</p>
		<p>Narozená: 29.11.2008</p>
		<p>Číslo zápisu: ČLP/RR/5614</p>
		<p>Barva: červená pšenice</p>
		<p>Výška: 64 cm</p>
		<p>DKK: 0/0</p>
		<p>DLK: 0/0</p>
		<p>OCD: negativní</p>
		<p>Chrup: plnochrupá</p>
		<p>chovná ČKRR 12.9.2010</p>
	</div>
	<img
		slot="mother_image"
		src="./images/ashanti_nasi_psi.jpg"
		alt=""
		class="max-w-sm aspect-square object-top object-cover rounded-lg"
	/>
	<div
		slot="father_info"
		class="flex flex-col justify-center lg:gap-4 gap-2 md:items-end px-4 lg:p-0 whitespace-nowrap md:order-1"
	>
		<p>Otec: Kifahari Kuzaa Eros Dahabu</p>
		<p>Narozen: 8.3.2011</p>
		<p>Výška: 70cm</p>
		<p>Váha: 44kg</p>
		<p>Chrup: plnochrupý,nůžkový skus</p>
		<p>HD: A/B</p>
		<p>DLK: 0/0</p>
		<p>OCD: negativní</p>
	</div>
	<img
		slot="father_image"
		src="./images/kifahari_nasi_psi.jpg"
		class="max-w-sm aspect-square object-top object-cover rounded-lg"
		alt=""
	/>
</DogLayout>
