---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Krycí Psi">
	<p>Datum narozeni: 13.10.2020</p>
	<p>Výška: 69cm</p>
	<p>Váha: 44kg</p>
	<p>Plnochrupý, nůžkový</p>
	<p>Pšeničná barva</p>
	<p>HD: 0/0</p>
	<p>ED: 0/0</p>
	<p>OCD - negativni</p>
	<p>SA - negativní</p>
	<p>LTV - negativní</p>
	<p>L7 - normal</p>
	<p>Ridge gene - R/R</p>
	<p>DM: M/N</p>
	<p>JME: N/N</p>
	<p>D-locus: D/D</p>
	<p>B-locus: B/b</p>
	<p>Hemofilie: A/B - čístá</p>
	<p>Bonitace byla 16.06.2023</p>
	<p>Majitelka: Petra Běhounková</p>
	<a href="http://ridgebackzkh.cz/">Webové stránky</a>
	<img src="./images/Berlin_nasi_psi_02.jpg" alt="" />
	<img src="./images/Berlin_nasi_psi_03.jpg" alt="" />
	<img src="./images/Berlin_nasi_psi_04.jpg" alt="" />
	<p>Bonitace</p>
	<img src="./images/Berlin_nasi_psi_01.jpg" alt="" />
</MainLayout>
