---
import MainLayout from '../layouts/MainLayout.astro'
import DogLayout from '../layouts/DogLayout.astro'
import Carousel from '../components/Carousel.astro'
const images = ['./images/Berlin_nasi_psi_02.jpg', './images/Berlin_nasi_psi_03.jpg']
---

<DogLayout title="Benny">
	<div
		slot="dog_info"
		class="flex flex-col lg:justify-center lg:items-end md:items-end items-center lg:gap-2 gap-1 lg:w-1/3 w-full"
	>
		<p>Berlin Mattien Rhodenny (Benny)</p>
		<p>Datum narozeni: 13.10.2020</p>
		<p>Výška: 69cm</p>
		<p>Váha: 44kg</p>
		<p>Plnochrupý, nůžkový</p>
		<p>Pšeničná barva</p>
		<p>HD: 0/0</p>
		<p>ED: 0/0</p>
		<p>OCD - negativni</p>
		<p>SA - negativní</p>
		<p>LTV - negativní</p>
		<p>L7 - normal</p>
		<p>Ridge gene - R/R</p>
		<p>DM: M/N</p>
		<p>JME: N/N</p>
		<p>D-locus: D/D</p>
		<p>B-locus: B/b</p>
		<p>Hemofilie: A/B - čístá</p>
	</div>
	<div slot="carousel" class="lg:w-3/4 w-full">
		<Carousel images={images} />
	</div>
</DogLayout>
<div class="flex flex-col lg:flex-row justify-center items-center gap-4 py-2">
	<img
		src="./images/Berlin_nasi_psi_01.jpg"
		alt=""
		class="flex flex-col lg:w-1/3 w-full rounded-lg"
	/>
	<img src="./images/zprava_bertik-1.jpg" alt="" class="flex flex-col lg:w-1/3 w-full rounded-lg" />
</div>
<div class="flex flex-col lg:flex-row justify-center items-center gap-4 py-2">
	<img src="./images/zprava_bertik-2.jpg" alt="" class="flex flex-col lg:w-1/3 w-full rounded-lg" />
	<img src="./images/zprava_bertik-3.jpg" alt="" class="flex flex-col lg:w-1/3 w-full rounded-lg" />
</div>

<div class="flex flex-col lg:flex-row justify-center items-center gap-4 py-2">
	<img src="./images/zprava_bertik.jpg" alt="" class="flex flex-col lg:w-1/3 w-full rounded-lg" />
</div>
