---
import MainLayout from '../layouts/MainLayout.astro'

import ImageText from '../components/ImageText.astro'
import Carousel from '../components/Carousel.astro'
const images = [
	'./images/ennie_combo_1.jpg',
	'./images/ennie_combo_2.jpg',
	'./images/ennie_combo_3.jpg',
	'./images/ennie_combo_4.jpg',
	'./images/ennie_combo_5.jpg',
	'./images/ennie_combo_6.jpg'
]
---

<MainLayout title="O nás">
	<div class="w-full h-full flex flex-col items-center">
		<ImageText
			text="Náš první pejsek byl německý ovčák. Jmenoval se Cézar. Jeho rodiče měli spoustu zkoušek, otec pohraniční hlídač. Oba měli v papírech dominantní, agresivní, těžko zvladatelný. Manžel neměl  žádné zkušenosti  a tyto záznamy o povaze pro něho neměly žádný význam. Vybral si toho nejkrásnějšího medvídka. Bez znalostí a rad odborníků, problém na sebe nenechal dlouho čekat. I když Cézar miloval svoji rodinu, byl těžko zvladatelný a agresivní vůči všemu. Tato zkušenost nás na dlouhé roky odradila pořizovat si dalšího psa."
			image="./images/cesar.jpg"
		/>
		<ImageText
			text="Jednou při procházce, jsme potkali mladý pár a měli sebou, dnes už vím, rhodéského ridgebacka. Byl volně puštěný, nikoho si nevšímal. Natolik nás toto setkání ovlivnilo, že jsme začali pátrat po štěňatech. Narazili jsme na vrh bez PP a za krátkou dobu,  u nás bylo zase veselo. Bohužel, ale až tak veselo, že bez košíku jsme neudělali ani krok. Dodnes tvrdím, že Sid, tak se jmenoval, tu přišel, i když jen na krátkou dobu, aby nás donutil,  pořádně se nad sebou zamyslet. Udělali jsme spoustu chyb už od začátku."
			image="./images/sid 1.jpg"
			order="right"
		/>
		<ImageText
			text="A ta první a snad největší chyba byla, že  jsme si Sida brali při první  a zároveň  poslední návštěvě hned  domů. Majitelé odvedli fenu pryč, aby nás nepokousala,  prý se bála o štěňata. Chování feny nám přišlo přirozené.  Dnes už vím, že to byl velký omyl.  Přes všechno trápení, na něj nikdy nezapomenu. Bylo velice těžké vyrovnat se s  tichem, které po něm zůstalo."
			image="./images/sid 2.jpg"
		/>
		<ImageText
			text="Stále jsme měli na paměti mladý pár s klidným a vyrovnaným ridgebackem a kladli si spoustu otázek, co jsme udělali špatně. Nakoupili knihy, časopisy a občas také nahlídli do chovatelských stanic ridgebacků. Jednou večer jsem narazila na inzerát fenečky z  chovatelské stanice South Moravia. Fenečka jménem Dixa byla volná, ale chovatelka po opravdu dlouhém rozhovoru usoudila, že pro náš start není vhodná a nabídla nám, jestli nechceme počkat na její další vrh. Dixa byla tak krásná, že jenom letmo jsme dokázali lustrovat jiné chovatelské stanice, kdyby tento vrh nevyšel."
			image="./images/dixa.jpg"
			order="right"
		/>
		<ImageText
			text="Čas plynul a my se po roce dočkali naší vysněné fenečky Enny."
			image="./images/enny_first.jpg"
		/>
		<ImageText
			text="Abychom neztráceli čas, přihlásila jsem nás do psí školky Janči Bolfové. Jelikož Ennča byla ještě v chovatelské stanici, museli jsme na první hodinu jet sami. Jistě jsme byli všem pro smích, ale měli jsme svůj sen."
			image="./images/ennie_skolka 1.jpg"
			order="right"
		/>
		<ImageText
			text="Už při prvních momentech na vycházkách a ve školce nás Ennča ohromila svým chováním. Vzorně na nás čekala, neodbíhala ( to zdědila po mamince Ashanti) , chtěla se učit novým věcem, byla klidná a vyrovnaná."
			image="./images/ennie_skolka 2.jpg"
		/>
	</div>

	<Carousel images={images} />
</MainLayout>
