---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Vrh A">
	<div class="flex">
		<p>1. karta</p>
		<p>Vrh A</p>
		<p>26.3.2019 se narodilo 7 standartních štěňátek. 2 holky, 5 kluků</p>
		<img src="./images/vrh_a.jpg" alt="" />
		<p>2. karta</p>
		<p>Vrh B</p>
		<p>13.10.2020 se narodilo 6 standartních štěňátek a 1 nestadratní, 4 holky, 3 kluků</p>
		<img src="./images/vrh_b.jpg" alt="" />
	</div>
</MainLayout>
