---
import MainLayout from '../layouts/MainLayout.astro'
import ImageText from '../components/ImageText.astro'
---

<MainLayout>
	<div class="w-full h-full flex flex-col items-center">
		<div class="flex">
			<img src="./images/plagat_vrh_a_02.jpg" alt="" />
			<img src="./images/plagat_vrh_a.jpg" alt="" />
			<p>
				Mým velkým přáním bylo najít pro Enny pejska střední postavy. Tím začalo moje hledání. Hugo
				se díky spoustě zdravotních testů, barvě srsti, postavě a nádherné hlavičce vryl do mojí
				mysli. Již při první návštěvě mě moc potěšila jeho milá, přátelská a nekonfliktní povaha a
				zcela přesvědčila, že je to ten pravý. Hugo pochází z chov. stanice Kaweria z vrhu A
				<a href="https://www.kaweria.com/">https://www.kaweria.com/</a>
			</p>
		</div>
		<ImageText
			text="Otec Huga : MultiCh. Maiden's Kalahari Kandy"
			image="./images/otec_huga_02.jpg"
		/>
		<ImageText
			text="Matka Huga : MultiCh. Tusani Jolly Joelin"
			image="./images/hugo_matka.jpg"
			order="right"
		/>
		<p>Amos Adhiambo</p>
		<p>Váha: 675 g</p>
		<img src="./images/amos_vrh_a.jpg" alt="" />
		<img src="./images/amos_vrh_a_02.jpg" alt="" />
		<img src="./images/amos_vrh_a_03.jpg" alt="" />
		<img src="./images/amos_vrh_a_04.jpg" alt="" />
		<br />
		<p>Alfie Sabiha</p>
		<p>Váha: 590g</p>
		<img src="./images/alfie_vrh_a.jpg" alt="" />
		<img src="./images/alfie_vrh_a_02.jpg" alt="" />
		<img src="./images/alfie_vrh_a_03.jpg" alt="" />
		<img src="./images/alfie_vrh_a_04.jpg" alt="" />
		<img src="./images/alfie_vrh_a_05.jpg" alt="" />
		<p>Agnes Yunna</p>
		<p>Váha: 580g</p>
		<img src="./images/agnes_vrh_a_01.jpg" alt="" />
		<img src="./images/agnes_vrh_a_02.jpg" alt="" />
		<img src="./images/agnes_vrh_a_03.jpg" alt="" />
		<img src="./images/agnes_vrh_a_04.jpg" alt="" />
		<p>Aron Black</p>
		<p>605g</p>
		<img src="./images/aron_vrh_a_01.jpg" alt="" />
		<img src="./images/aron_vrh_a_02.jpg" alt="" />
		<img src="./images/aron_vrh_a_03.jpg" alt="" />
		<img src="./images/aron_vrh_a_04.jpg" alt="" />
		<img src="./images/aron_vrh_a_05.jpg" alt="" />
		<p>Alvin Shadow</p>
		<p>550g</p>
		<img src="./images/alvin_vrh_a_01.jpg" alt="" />
		<img src="./images/alvin_vrh_a_02.jpg" alt="" />
		<img src="./images/alvin_vrh_a_03.jpg" alt="" />
		<img src="./images/alvin_vrh_a_04.jpg" alt="" />
		<img src="./images/alvin_vrh_a_05.jpg" alt="" />
		<p>Amali Joy</p>
		<p>690g</p>
		<img src="./images/amali_vrh_a_01.jpg" alt="" />
		<img src="./images/amali_vrh_a_02.jpg" alt="" />
		<img src="./images/amali_vrh_a_03.jpg" alt="" />
		<img src="./images/amali_vrh_a_04.jpg" alt="" />
	</div>
</MainLayout>
