---
import Carousel from './../../components/Carousel.astro'
import DogLayout from './../../layouts/DogLayout.astro'

const images = [
	'./../../images/amali_nasi_psi_01.jpg',
	'./../../images/amali_nasi_psi_02.jpg',
	'./../../images/amali_nasi_psi_04.jpg',
	'./../../images/amali_nasi_psi_05.jpg',
	'./../../images/amali_nasi_psi_06.jpg',
	'./../../images/amali_nasi_psi_07.jpg',
	'./../../images/amali_nasi_psi_08.jpg',
	'./../../images/amali_nasi_psi_09.jpg',
	'./../../images/amali_nasi_psi_11.jpg',
	'./../../images/amali_nasi_psi_10.jpg'
]
---

<DogLayout title="Amali">
	<div
		slot="dog_info"
		class="flex flex-col lg:justify-center lg:items-end items-center lg:gap-4 gap-2 lg:w-1/4 w-full"
	>
		<p>Amali Joy Rhodenny</p>
		<p>Datum narození: 26.03.2019</p>
		<p>Výška: 63cm</p>
		<p>Váha: 38kg</p>
		<p>Plnochrupý, nůžkový kus</p>
		<p>Pšeničná barva</p>
	</div>
	<div slot="carousel" class="lg:w-3/4 w-full">
		<Carousel images={images} />
	</div>
	<div
		slot="mother_info"
		class="flex flex-col lg:justify-center lg:gap-4 gap-2 px-4 lg:p-0 whitespace-nowrap"
	>
		<p>Matka: Enny Joy of Ashanti South Moravia</p>
		<p>Datum narození: 25.06.2015</p>
		<p>Výška: 64cm</p>
		<p>Váha: 39kg</p>
		<p>Plnochrupý, nůžkový kus</p>
		<p>Pšeničná barva</p>
		<p>HD: A/A</p>
		<p>ED: 0/0</p>
		<p>OCD - negativní</p>
	</div>
	<img
		slot="mother_image"
		src="./../../images/enny_nasi_psi_01.jpg"
		alt=""
		class="max-w-sm aspect-square object-top object-cover rounded-lg"
	/>
	<div
		slot="father_info"
		class="flex flex-col justify-center lg:gap-4 gap-2 md:items-end px-4 lg:p-0 whitespace-nowrap md:order-1"
	>
		<p>Otec: Adhiambo Kaweria (Hugo)</p>
		<a class="underline" target="_blank" href="https://www.kaweria.com/"
			>Informace o Hugovi najdete ZDE</a
		>
	</div>
	<img
		slot="father_image"
		src="./../../images/plagat_vrh_a_02.jpg"
		alt=""
		class="max-w-sm aspect-square object-top object-cover rounded-lg"
	/>
</DogLayout>
<div class="uppercase text-xl lg:text-2xl lg:pt-4 justify-center items-center flex flex-col">
	<p>Průkaz původu psa</p>
</div>
<div class="flex flex-col lg:py-4 md:pt-4 justify-center items-center gap-4">
	<a
		target="_blank"
		download="dokumenty_01.jpg"
		href="https://drive.google.com/file/d/1jd3aoKDdt4rcv8OxC55CO8UhyNSDndTx/view?usp=sharing"
		class="button-secondary flex gap-2 items-center w-fit"
	>
		<span>Zobrazit</span><svg
			class="w-4 h-auto"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 256 256"
			><rect width="256" height="256" fill="none"></rect><line
				x1="40"
				y1="128"
				x2="216"
				y2="128"
				fill="none"
				stroke="currentColor"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="16"></line><polyline
				points="144 56 216 128 144 200"
				fill="none"
				stroke="currentColor"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="16"></polyline></svg
		></a
	>
	<img
		src="./../../images/amali_prukaz-1.png"
		alt=""
		class="md:w-full 2 lg:w-1/3 rounded-lg mx-auto"
	/>
</div>
