---
import MainLayout from './../../layouts/MainLayout.astro'
---

<MainLayout title="Dokumenty">
	<div class="flex flex-col justify-center items-center">
		<div class="flex flex-col justify-center items-center lg:flex-row md:gap-0 lg:gap-8">
			<img src="./../../images/dokumenty_01.jpg" alt="" class="lg:h-96 w-auto md:h-3/4" />
			<a
				target="_blank"
				download="dokumenty_03.jpg"
				href="https://drive.google.com/file/d/1SxH1u5STd8l-Ky6Mgri-BRfcE-QQYxgX/view?usp=sharing"
			>
				<button class="button-secondary flex gap-2 items-center w-fit m-4">
					<span>Zobrazit</span><svg
						class="w-4 h-auto"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 256 256"
						><rect width="256" height="256" fill="none"></rect><line
							x1="40"
							y1="128"
							x2="216"
							y2="128"
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="16"></line><polyline
							points="144 56 216 128 144 200"
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="16"></polyline></svg
					></button
				>
			</a>
		</div>
		<div class="flex flex-col justify-center items-center lg:flex-row md:gap-0 lg:gap-8">
			<img src="./../../images/dokumenty_02.jpg" alt="" class="lg:h-96 w-auto md:h-3/4" />
			<a
				target="_blank"
				download="dokumenty_03.jpg"
				href="https://drive.google.com/file/d/1gLC6Xc-W3K9TbvLGW8RQE6HqmH4XLbds/view?usp=sharing"
			>
				<button class="button-secondary flex gap-2 items-center w-fit m-4">
					<span>Zobrazit</span><svg
						class="w-4 h-auto"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 256 256"
						><rect width="256" height="256" fill="none"></rect><line
							x1="40"
							y1="128"
							x2="216"
							y2="128"
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="16"></line><polyline
							points="144 56 216 128 144 200"
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="16"></polyline></svg
					></button
				>
			</a>
		</div>
	</div>
	<div class="flex flex-col justify-center items-center lg:flex-row md:gap-0 lg:gap-8">
		<img src="./../../images/dokumenty_03.jpg" alt="" class="lg:h-96 w-auto md:h-3/4" />
		<a
			target="_blank"
			download="dokumenty_03.jpg"
			href="https://drive.google.com/file/d/1T5BBzrUWglyB7D7RhiXSLggFCA4VwUOV/view?usp=sharing"
		>
			<button class="button-secondary flex gap-2 items-center w-fit m-4">
				<span>Zobrazit</span><svg
					class="w-4 h-auto"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 256 256"
					><rect width="256" height="256" fill="none"></rect><line
						x1="40"
						y1="128"
						x2="216"
						y2="128"
						fill="none"
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="16"></line><polyline
						points="144 56 216 128 144 200"
						fill="none"
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="16"></polyline></svg
				></button
			>
		</a>
	</div>
</MainLayout>
