---
let { title } = Astro.props
title = 'Rhodenny - ' + title

import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title={title}>
	<div class="flex flex-col gap-4 lg:gap-8 py-2 px-4">
		<div class="flex flex-col lg:flex-row justify-center items-center gap-4 w-full">
			<slot name="dog_info" />

			<slot name="carousel" />
		</div>

		<div class="flex flex-col xl:flex-row justify-center items-center w-full gap-8">
			<div class="flex-1 flex flex-col md:flex-row justify-end items-start gap-4 lg:gap-8">
				<div class="flex flex-col lg:justify-center lg:gap-4 gap-2 px-4 lg:p-0 whitespace-nowrap">
					<slot name="mother_info" />
				</div>
				<div class="flex justify-center items-center">
					<slot name="mother_image" />
				</div>
			</div>
			<div class="flex-1 flex flex-col md:flex-row justify-start items-start gap-4 lg:gap-8">
				<div
					class="flex flex-col justify-center lg:gap-4 gap-2 md:items-end px-4 lg:p-0 whitespace-nowrap md:order-1"
				>
					<slot name="father_info" />
				</div>
				<div class="flex justify-center items-center">
					<slot name="father_image" />
				</div>
			</div>
		</div>
		<div class="flex flex-col xl:flex-row justify-center items-center w-full gap-8">
			<div class="flex-1 flex flex-col md:flex-row justify-end items-start gap-4 lg:gap-8">
				<div class="flex flex-col lg:justify-center lg:gap-4 gap-2 px-4 lg:p-0 whitespace-nowrap">
					<slot name="great-mother_info" />
				</div>
				<div class="flex justify-center items-center">
					<slot name="great-mother_image" />
				</div>
			</div>
			<div class="flex-1 flex flex-col md:flex-row justify-start items-start gap-4 lg:gap-8">
				<div
					class="flex flex-col justify-center lg:gap-4 gap-2 md:items-start px-4 lg:p-0 whitespace-nowrap md:order-1"
				>
					<slot name="great-father_info" />
				</div>
				<div class="flex justify-center items-center">
					<slot name="great-father_image" />
				</div>
			</div>
		</div>
	</div>
</MainLayout>
